EXPO_PUBLIC_DEMO_LOGIN=true

EXPO_PUBLIC_DEMO_PATIENT_EMAIL=
EXPO_PUBLIC_DEMO_PATIENT_PASSWORD=

EXPO_PUBLIC_DEMO_PROVIDER_EMAIL=
EXPO_PUBLIC_DEMO_PROVIDER_PASSWORD=

EXPO_PUBLIC_DEMO_ADVOCATE_EMAIL=
EXPO_PUBLIC_DEMO_ADVOCATE_PASSWORD=

EXPO_PUBLIC_DEMO_ADMIN_EMAIL=
EXPO_PUBLIC_DEMO_ADMIN_PASSWORD=
